@tailwind base;
@tailwind components;
@tailwind utilities;

:root ,  body , * {
  margin: 0;
  padding: 0; 
}


.bgClr{
  background: linear-gradient(to bottom, #042E59, #042950, #03203E);
 
}


.responsive_text {
  font-size: 16px;
}
.responsive_title {
  font-size: 16px;
}

@media (min-width: 1920px) {
  .responsive_text {
    font-size: 1.8rem;
  }
  .responsive_title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .responsive_text {
    font-size: .9rem;
  }
  .responsive_title {
    font-size: 1.4rem;
  }
}

@media (max-width: 1023px) {
  .responsive_text {
    font-size: .8rem;
  }
  .responsive_title {
    font-size: 1rem;
  }
}
